<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="发票相关接口测试用例">
    <test name="测试发票查询、发票补打等相关接口">
        <groups>
            <run>
                <include name="查询设备状态"/>
                <include name="购票信息查询"/>
                <include name="监控数据查询"/>
                <include name="终端查询"/>
                <include name="统计信息查询"/>
                <include name="当前发票信息"/>
                <exclude name="发票查询"/>
                <include name="发票修复"/>
                <exclude name="发票作废"/>
            </run>
        </groups>
        <classes>
            <class name="com.shuzutech.cases.zpy.fpsb.CXSBZT"/>
            <class name="com.shuzutech.cases.zpy.fpsb.GPXXCX"/>
            <class name="com.shuzutech.cases.zpy.fpsb.JKSJCX"/>
            <class name="com.shuzutech.cases.zpy.fpsb.TermaryQuery"/>
            <class name="com.shuzutech.cases.zpy.fpsb.TJXXCX"/>
            <class name="com.shuzutech.cases.zpy.fpgl.DQFPXX"/>
            <class name="com.shuzutech.cases.zpy.fpgl.FPCX"/>
            <class name="com.shuzutech.cases.zpy.fpgl.FPXF"/>
            <class name="com.shuzutech.cases.zpy.fpgl.FPZF"/>
            <class name="com.shuzutech.cases.zpy.qyxx.QYXXSZ"/>
            <class name="com.shuzutech.cases.zpy.qyxx.QYXXCX"/>
            <class name="com.shuzutech.cases.zpy.qyxx.QYTTXXCX"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.shuzutech.config.ExtentTestNGIReporterListener"/>
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
    </listeners>
</suite>